/********************************************************************
* GERAL
*********************************************************************/
body {
	font-family: sans-serif;
	background-color:#f1f1f6;
	background-image: linear-gradient(to right, rgba(255,255,255,.5) 1px, transparent 4px);
	background-size: 4px 4px;
}

body ul {
	list-style: none;
}

/********************************************************************
* CONTAINER
*********************************************************************/
.container {
	margin: 0 auto;
	max-width: 960px;
}

/********************************************************************
* SOBRE
*********************************************************************/

.descricao-sobre ul li{
	display: inline-block;
	vertical-align: center;
	text-align: justify;
	
}

.desc-sobre {
	width: 627px;
	padding-left: 8px;
}
/********************************************************************
* MAIN-HEADER
*********************************************************************/
.main-header .container {
	position: relative;
	padding-top: 3px;
}

.logo {
	width: 150px;
	height: 184px;
	display: inline-block;
	text-indent: -99999px;
	background-image: url(../img/ico/logo.png); 
	
}

/********************************************************************
* MAIN-NAV
*********************************************************************/
.main-nav{
	position: absolute;
	right: 0;
	top: 85px;
}

.main-nav-item + .main-nav-item {
	margin-left: 15px;
}

.main-nav-link {
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav-links:hover, a.active {
	border-top: 10px solid #474747;
	border-bottom: 10px solid #474747;
	padding-top: 2px;
	padding-bottom: 2px;
	transition:all ease-out 0.5s;
}


.main-nav-links {
	overflow: hidden;
	text-decoration: none;
	color: #000000;
}

.main-nav-item {
	float: left;
}

.main-nav-link.current {
	
}

.ico-facebook {
	background-image: url(../img/ico/ico-facebook.png);
}

.ico-instagram {
	background-image: url(../img/ico/ico-instagram.png);
}

.socias:hover {
	background-color: #474747;
}


.main-nav-item.socias li {
	display: inline-block;
}

.main-nav-item.socias a {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -99999px;
}



/********************************************************************
* HOME DE SERVIÇOS
*********************************************************************/

section p {
	background: rgba(-275, -547, 36, 0.76);
	width: 142px;
	position: absolute;
	top: 95px; 
	left: 4px;
	line-height: 30px;
	height: 30px;
	z-index: 5; 
	color: #fff;
}

.box img {
	width: 150px;
	height: 150px;
}

.box { 
	width: 150px;
	position: relative;
	float: left;
	margin: .3em;
}
.inner-content {
	background: #fff;
	/*padding: .75em;*/
	width: 150px;
	height: 150px;
}

.border-top, .border-bottom {
	width: 0%;
	height: 3px;
	background: #474747;
	position: absolute;
	transition: all .3s ease;
}

.border-top { top: 0; left: 0; }
.border-bottom { bottom: 0; right: 0; }
.box:hover .border-top, 
.box:hover .border-bottom {
	width: 100%;
}

.border-right, .border-left {
	width: 3px;
	height: 0%;
	background: #474747;
	position: absolute;
	transition: all .3s ease .3s;

} 

.border-right { top: 0; right: 0; }
.border-left { bottom: 0; left: 0; }
.box:hover .border-right, 
.box:hover .border-left {
	height: 100%;
}

.servicos img {
	width: 150px;
	height: 150px;
}


/********************************************************************
* FOOTER
*********************************************************************/
.rodape {
	background-color: #474747;
	color: #f2fffc;
	width: 100%;
	position: relative;
	float: left;
}

footer {
	padding-top: 100px;
	clear: both;	
}

.autorais-footer {
	padding-top: 	13px;
} 

.menu-footer {
	/*text-transform: uppercase;	*/
}

.menu-footer a {
	text-decoration: none;
	color: 	#fff;
}

.error a {
	text-decoration: none;
	color: 	#FF0D40;
}

.menu-footer-links:hover {
	color: #000;
}

.criador {
	width: 100%;
	background-color: #FFF;
	color: #fff;
	display: inline-block;
}

.criador-link img {
	width: 20px;	
	height: 20px;	
}

.criador-link a {
	
	/*position: relative;
	left: 630px;*/
	text-decoration: none;
	text-transform: uppercase;
}

.criador-link:hover {
	background-color: #474747;
}

/*.criador:hover {
	border: solid 1px;
	color: 	#474747;
	}*/

/********************************************************************
* MENU SERVICOS
*********************************************************************/
.texto {
	width: 400px;
	color: #fff;


}

.controle-solar p {
	content: '';
	background-color: rgba(182, 176, 59, 1);
	margin: 0 auto;
	opacity: 0.5;
	color: #000;
	padding: 15px 50px 15px ;
	position: absolute;
	top: 320px;
	font-size: 18px;
	box-shadow: 1px 1px 15px #fff;
	text-transform: uppercase;
	font-weight: bold;

}

.controle-solar2 p {
	content: '';
	background-color: rgba(182, 176, 59, 1);
	margin: 0 auto;
	opacity: 0.5;
	color: #000;
	padding: 15px 50px 15px 50px ;
	position: absolute;
	top: 1020px;
	font-size: 18px;
	box-shadow: 1px 1px 15px #fff;
	text-transform: uppercase;
	font-weight: bold;
}


.texto a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	
}

td {
	min-height: 700px;
	display: inline-block;

}

.servicos-link li {
	background-color: #400202;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-decoration: none;
	border: 0px;
}

.servicos-link li:hover {
	text-shadow:2px 2px 25px #fff;
	border-left: 3px solid #fff;
	text-decoration: none;
	transition:all ease-out 0.3s;


}

.servicos-link p {
	padding-right: 5px;
	text-align: justify;
}


.servicos-link li:visited:after {
	content: '';
	color: #400202;
}
/********************************************************************
* CURSOS
*********************************************************************/
.cursos, .cursos-grade  {
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	box-shadow: 2px 0px 15px 1px #888888;
}

.cursos p, .cursos-grade p {
	background-color: #400202;
	color: #ffffff;
	text-transform: uppercase;
	padding: 3px 3px 3px 3px;
}

.cursos h1 {
	text-align: center;
	text-transform: uppercase;

}

.titulo h1 {
	text-shadow: 2px 2px 15px #888888;
}


.cursos-grade {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	margin: 0 auto;

}


.cursos-grade + .cursos-grade {
	margin-left: 20px;
}

/********************************************************************
* CONTATO
*********************************************************************/
.contato ul li {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	
}

.contato a {
	color: #000000;
}

.contato a:hover {
	
	text-decoration: none;
}


@media (max-width: 1024px) {
	.main-nav {
		position: absolute;
		right: 20px;
	}

	.main-nav-link, body {
		font-size: 30px;
	}
	
	
	.descricao-sobre {
		text-align: center;
	}
		.cursos-grade {
    width: 300px;
    height: 300px;
}

.grade-curso {
	text-align: center;
}
}

@media (min-width: 1024px) {
.logo {
	width: 450px;
	height: 189px;
	display: inline-block;
	text-indent: -99999px;
	background-image: url(../img/ico/logo-nome.png); 
}
	#slider img {
		    padding-left: 50px;
	}
}


/*==============================================================================================================
 CAROUSEL
================================================================================================================*/

/* CUSTOMIZAÇÃO OWL CAROUSEL */

.owl-theme{
	padding: 0 50px;
}

.owl-theme .owl-item div{width: 100%; padding: 0 20px;}
.owl-theme .owl-item div p{font-size:28px;}
.owl-theme .owl-item div:hover{cursor: move;}

/* PREV NEXT */

.owl-theme .owl-controls{margin-top:10px; text-align:center; -webkit-tap-highlight-color:transparent; }

.owl-theme .owl-controls .owl-nav [class*=owl-]{width: 33px; height: 33px; color:#fff; font-size:28px; line-height: 30px; margin:5px; background:#000; display:inline-block;cursor:pointer; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#999; color:#fff; text-decoration:none}
.owl-theme .owl-controls .owl-nav .disabled{opacity:.5; cursor:default}

.owl-theme .owl-controls .owl-nav .owl-prev{position:absolute; left: 0; top: 220px; text-indent: -2px;}
.owl-theme .owl-controls .owl-nav .owl-next{position:absolute; right: 0; top: 220px; text-indent: 2px;}

/* PAGINACAO */

.owl-theme .owl-dots .owl-dot{display:inline-block; zoom:1; *display:inline}
.owl-theme .owl-dots .owl-dot span{width:10px; height:10px; margin:5px 7px; background:#000; display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px; border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#999;}


/*  ANIMACAO DO PLUGUIN */

.owl-carousel .animated {-webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both;  animation-fill-mode: both;}
.owl-carousel .owl-animated-in {z-index: 0;}
.owl-carousel .owl-animated-out { z-index: 1;}
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut;}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*  AUTO HEIGHT DO PLUGUIN */

.owl-height {-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out;  -o-transition: height 500ms ease-in-out;  transition: height 500ms ease-in-out;}

/*  CORE DO PLUGIN */

.owl-carousel {display: none; -webkit-tap-highlight-color: transparent;  position: relative; z-index: 1;}
.owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y;}
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {cursor: pointer; cursor: hand; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;}
.owl-carousel.owl-loaded {display: block;}
.owl-carousel.owl-loading {opacity: 0; display: block;}
.owl-carousel.owl-hidden {opacity: 0;}
.owl-carousel .owl-refresh .owl-item {display: none;}
.owl-carousel .owl-item {position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.owl-carousel .owl-item img {display: block; width: 100%; -webkit-transform-style: preserve-3d;}
.owl-carousel.owl-text-select-on .owl-item {-webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto;}
.owl-carousel .owl-grab {cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab;}
.owl-carousel.owl-rtl {direction: rtl;}
.owl-carousel.owl-rtl .owl-item {float: right;}

/* No Js */
.no-js .owl-carousel {display: block;}

/*  LAZYLOAD DO PLUGUIN */

.owl-carousel .owl-item .owl-lazy {opacity: 0; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease;}
.owl-carousel .owl-item img {transform-style: preserve-3d;}

/*  COM VIDEO DO PLUGUIN */

.owl-carousel .owl-video-wrapper {position: relative; height: 100%; background: #000;}
.owl-carousel .owl-video-play-icon {position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px;
  background: url("owl.video.play.png") no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease; -ms-transition: scale 100ms ease; -o-transition: scale 100ms ease; transition: scale 100ms ease;}
.owl-carousel .owl-video-play-icon:hover {-webkit-transition: scale(1.3, 1.3); -moz-transition: scale(1.3, 1.3); -ms-transition: scale(1.3, 1.3);  -o-transition: scale(1.3, 1.3); transition: scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {display: none;}
.owl-carousel .owl-video-tn {opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; -webkit-background-size: contain;
  -moz-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: opacity 400ms ease;-moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease;-o-transition: opacity 400ms ease; transition: opacity 400ms ease;}
.owl-carousel .owl-video-frame {position: relative; z-index: 1;}


// -----------------------------



/* Feel free to change duration  */ 
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}